* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #333;
    --main-color: rgb(205, 205, 205);
}

body {
    min-height: 100vh;
    background: #1dd1a1;
}

.color {
    position: absolute;
    left: 0;
    width: 75px;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 3px solid var(--main-color);
}

.color span {
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--clr);
    margin: 15px 0;
    border-radius: 50%;
    cursor: pointer;
}

.color span.active {
    border: 3px solid var(--main-color);
}

.color span::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: var(--clr);
    rotate: 45deg;
    translate: 39px;
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    opacity: 0;
    transition: 0.08s;
}

.color span.active::before {
    opacity: 1;
}

.contenedor {
    position: absolute;
    width: 95%;
    height: 98%;
    margin-top: 10px;
    margin-left: 85px;
    background: #333;
    border-radius: 20px;
    padding-top: 9%;
}

/* aca inica la ruleta */
.roulette-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roulette-container #selector {
    position: absolute;
    top: -20px;
    left: 24%;
    display: inline-block;
    width: 0%;
    height: 0%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #f2f2f2;
    z-index: 1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#roulette {
    background: #fff;
    width: 500px;
    height: 500px;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    border-radius: 100%;
    transition-property: transform;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    margin-left: 10%;
}

#roulette .roulette-section {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

#roulette .roulette-section .roulette-section-container {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    padding-top: 60px;
    transform: skewY(60deg) rotate(15deg);
    -webkit-transform: skewY(60deg) rotate(15deg);
    -moz-transform: skewY(60deg) rotate(15deg);
    -ms-transform: skewY(60deg) rotate(15deg);
    -o-transform: skewY(60deg) rotate(15deg);
}

#roulette .roulette-section .roulette-section-container p {
    margin-top: 30px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.button-container {
    margin-top: 50px;
    margin-left: -52%;
}

.button-container button#reset {
    display: none;
}

#roulette .roulette-section:first-child .roulette-section-container {
    background: #df0978;
}

#roulette .roulette-section:nth-child(2) .roulette-section-container {
    background: #8d078d;
}

#roulette .roulette-section:nth-child(3) .roulette-section-container {
    background: #3a63ba;
}

#roulette .roulette-section:nth-child(4) .roulette-section-container {
    background: #4fa1de;
}

#roulette .roulette-section:nth-child(5) .roulette-section-container {
    background: #23bb23;
}

#roulette .roulette-section:nth-child(6) .roulette-section-container {
    background: #46b545;
}

#roulette .roulette-section:nth-child(7) .roulette-section-container {
    background: #88c740;
}

#roulette .roulette-section:nth-child(8) .roulette-section-container {
    background: #f2f215;
}

#roulette .roulette-section:nth-child(9) .roulette-section-container {
    background: #f1b041;
}

#roulette .roulette-section:nth-child(10) .roulette-section-container {
    background: #e35825;
}

#roulette .roulette-section:nth-child(11) .roulette-section-container {
    background: #e01423;
}

#roulette .roulette-section:nth-child(12) .roulette-section-container {
    background: #ffae00;
}

#roulette .roulette-section:first-child {
    transform: rotate(0deg) skewY(-60deg);
    -webkit-transform: rotate(0deg) skewY(-60deg);
    -moz-transform: rotate(0deg) skewY(-60deg);
    -ms-transform: rotate(0deg) skewY(-60deg);
    -o-transform: rotate(0deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
    -webkit-transform: rotate(30deg) skewY(-60deg);
    -moz-transform: rotate(30deg) skewY(-60deg);
    -ms-transform: rotate(30deg) skewY(-60deg);
    -o-transform: rotate(30deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
    -webkit-transform: rotate(60deg) skewY(-60deg);
    -moz-transform: rotate(60deg) skewY(-60deg);
    -ms-transform: rotate(60deg) skewY(-60deg);
    -o-transform: rotate(60deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
    -webkit-transform: rotate(90deg) skewY(-60deg);
    -moz-transform: rotate(90deg) skewY(-60deg);
    -ms-transform: rotate(90deg) skewY(-60deg);
    -o-transform: rotate(90deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
    -webkit-transform: rotate(120deg) skewY(-60deg);
    -moz-transform: rotate(120deg) skewY(-60deg);
    -ms-transform: rotate(120deg) skewY(-60deg);
    -o-transform: rotate(120deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
    -webkit-transform: rotate(150deg) skewY(-60deg);
    -moz-transform: rotate(150deg) skewY(-60deg);
    -ms-transform: rotate(150deg) skewY(-60deg);
    -o-transform: rotate(150deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
    -webkit-transform: rotate(180deg) skewY(-60deg);
    -moz-transform: rotate(180deg) skewY(-60deg);
    -ms-transform: rotate(180deg) skewY(-60deg);
    -o-transform: rotate(180deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
    -webkit-transform: rotate(210deg) skewY(-60deg);
    -moz-transform: rotate(210deg) skewY(-60deg);
    -ms-transform: rotate(210deg) skewY(-60deg);
    -o-transform: rotate(210deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
    -webkit-transform: rotate(240deg) skewY(-60deg);
    -moz-transform: rotate(240deg) skewY(-60deg);
    -ms-transform: rotate(240deg) skewY(-60deg);
    -o-transform: rotate(240deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
    -webkit-transform: rotate(270deg) skewY(-60deg);
    -moz-transform: rotate(270deg) skewY(-60deg);
    -ms-transform: rotate(270deg) skewY(-60deg);
    -o-transform: rotate(270deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
    -webkit-transform: rotate(300deg) skewY(-60deg);
    -moz-transform: rotate(300deg) skewY(-60deg);
    -ms-transform: rotate(300deg) skewY(-60deg);
    -o-transform: rotate(300deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
    -webkit-transform: rotate(330deg) skewY(-60deg);
    -moz-transform: rotate(330deg) skewY(-60deg);
    -ms-transform: rotate(330deg) skewY(-60deg);
    -o-transform: rotate(330deg) skewY(-60deg);
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    border: none;
    outline: none;
    padding: 15px 100px;
    background: #2287ed;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.button-container button:hover {
    background: #28d3ea;
}

.button-container button:active {
    background: #28d3ea
}
/* fin de la ruleta */
.cuadro{
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-top: -35%;
    background: #1dd1a1;
    border-radius: 20px;
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;

}