.ruleta {
	margin-top: 10rem;
	margin-left: -1rem;
}

.btn {
	margin-top: 4rem;
	font-size: 1.3rem;
	color: aliceblue;
	margin-left: 14rem;
	width: 10em;
	height: 4em;
	background: #3ca0f2;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}


.container main .cuadro {
	width: 600px;
	height: 60px;
	margin-top: -40rem;
	margin-left: 55%;
	background: #f1c40f;
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.container main .cuadro1 {
	width: 600px;
	height: 60px;
	margin-left: 55%;
	margin-top: 30px;
	background: #ce1919;
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.container main .cuadro2 {
	width: 600px;
	height: 60px;
	margin-left: 55%;
	margin-top: 30px;
	background: #e67e22;
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.container main .cuadro3 {
	width: 600px;
	height: 60px;
	margin-left: 55%;
	margin-top: 30px;
	background: #0836bf;
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.container main .cuadro4 {
	width: 600px;
	height: 60px;
	margin-left: 55%;
	margin-top: 30px;
	background: #8e44ad;
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.container main .cuadro5 {
	width: 600px;
	height: 60px;
	margin-left: 55%;
	margin-top: 30px;
	background: #2ecc71;
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
}