/*card onclick*/
.scene {
    margin-top: 5rem;
    margin-left: 10rem;
    display: grid;
    gap: 10rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 200px;
    height: 260px;
    perspective: 600px;
}

.scene2 {
    margin-top: -18.6rem;
    margin-left: 50rem;
    display: grid;
    gap: 10rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 200px;
    height: 260px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: transform 1s;
    display: grid;
    color: white;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.card__face--back:hover {
    position: relative;
    width: 55rem;
    height: 30rem;
    align-items: center;
    box-shadow: 2px 2px 20px 2px #bdbdbd;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .card__face--front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preguntas {
    position: absolute;
    align-items: top;
    width: 100%;
    height: 45px;
    color: #fff;
    background: rgba(240, 238, 238, 0.4);
    text-align: center;
}

.card__face--front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: var(--box-shadow);
}

.card__face--back {
    padding-top: 10px;
    text-align: center;
    background: var(--color-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transform: rotateY(180deg);
}

.cartas {
    background: #a3bdcc;
}

.card {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.puntos {
    padding-top: 8rem;
    font-size: 4rem;
    align-items: center;
    text-align: center;
}

.preguntas {
    font-size: 2rem;
    text-align: center;
}

.texto_pregunta {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
}

.btn-card {
    margin-top: 2rem;
    margin-left: 10px;
    width: 6rem;
    height: 4rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: all 300ms ease;
    background: #bdbdbd;
    color: #181a1e;
}

.btn-card:hover {
    background: #ffffff;
}

.btn-card:active {
    background: #076cf1;
}

.btn-delete {
    margin-top: 2rem;
    margin-left: 10px;
    width: 6rem;
    height: 4rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: all 300ms ease;
    background: #ff4b4b;
    color: #181a1e;
}

.btn-delete:hover {
    background: #ff0000;
}

.btn-delete:active {
    background: #999999;
}

.imageness{
    height: 38%;
    width: 48%;
    align-items: center;
    margin-left: 12rem;
}